<form class="card" [formGroup]="form">
  <div class="p-field" style="padding-bottom: 10px;">
      <label for="code">Код АБП<span style="color: red;">*</span></label>
      <div class="p-inputgroup">
          <input id="code" [readOnly]="abp_detail.id > 0" type="text" pInputText
              [(ngModel)]="abp_detail.code" formControlName="code" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['code'].invalid && form.controls['code'].touched">
          <span *ngIf="form.controls['code'].errors?.required">Код не должен быть пустым</span>
      </span>

  </div>

  <div class="p-field" style="padding-bottom: 10px;">
      <label for="name_kaz">Наименование на каз. языке <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
          <input id="name_kaz" type="text" pInputText [(ngModel)]="abp_detail.name_kaz"
              formControlName="name_kaz" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name_kaz'].invalid && form.controls['name_kaz'].touched">
          <span *ngIf="form.controls['name_kaz'].errors?.required">Наименование не должен быть пустым</span>
      </span>
  </div>

  <div class="p-field" style="padding-bottom: 10px;">
      <label for="name_rus">Наименование на рус. языке <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
          <input id="name_rus" type="text" pInputText [(ngModel)]="abp_detail.name_rus"
              formControlName="name_rus" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name_rus'].invalid && form.controls['name_rus'].touched">
          <span *ngIf="form.controls['name_rus'].errors?.required">Наименование не должен быть пустым</span>
      </span>
  </div>

  <div style="width:100%; padding: 10px 0;">
      <label style="color: red;">* - обязательные поля</label>
  </div>
</form>

<div class="flex align-items-center justify-content-center gap-2">
  <button pButton pRipple label="Сохранить" (click)="saveabp()" icon="pi pi-check"
      [disabled]="form.invalid || form.disabled" class="p-button-outlined p-button-success"></button>
  <button pButton pRipple label="Отмена" icon="pi pi-times" (click)="closeabp()"
      class="p-button-outlined p-button-warning"></button>
</div>
