<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton pRipple label="выбрать"  icon="pi pi-check" class="p-button-success p-mr-2"
        (click)="onSelected(selected)"></button>
    </div>

    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left" style="margin-right: 10px;">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchfuncGr" (change)="search()" placeholder="поиск..." />
        </span>
        <div style="padding-right: 10px;">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined"
                styleClass="p-button-sm" (click)="fetchABP()"></button>
        </div>
    </div>
    
    
</p-toolbar>

<div class="card" *ngIf="(abp_select$ | async) as abp_select; else loader">
    <p-table *ngIf="abp_select.count !== 0; else empty" [value]="abp_select.results" [scrollable]="true"
        scrollHeight="calc({{windowHeight}}px - 230px)" selectionMode="single"  [(selection)]="selected"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%; text-align:center">Номер</th>
                <th style="width:10%; text-align:center">Код</th>
                <th style="width:40%; text-align:center">Наименование каз.</th>
                <th style="width:40%; text-align:center">Наименование русс.</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-abp_select let-ri="rowIndex" *ngFor="let item of abp_select.results| keyvalue">
            <tr class="cursor-pointer" (dblclick)="onRowClick(abp_select)" [pSelectableRow]="abp_select">
                <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
                <td style="text-align:center">
                    {{abp_select.code}}
                </td>
                <td>
                    {{abp_select.name_kaz}}
                </td>
                <td>
                    {{abp_select.name_rus}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template #empty>
        <div class="center">
            Нет ни одного АБП
        </div>
    </ng-template>
    <div *ngIf="abp_select.count !== 0" class="flex align-items-center justify-content-center">
        <span class="mx-1 text-color">Указано</span>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="abp_select.count || 0"
            (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="{{first+1}} - {{(first + rows) > (abp_select.count || 0)  ? abp_select.count : first + rows }} из {{abp_select.count}} элементов"
            [showPageLinks]="true" [showFirstLastIcon]="true"></p-paginator>
    </div>
    <p-confirmDialog [closeOnEscape]="true" acceptLabel="Да" rejectLabel="Нет" [style]="{width: '450px'}">
    </p-confirmDialog>
</div>

<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>