<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton pRipple label="выбрать" icon="pi pi-check" class="p-button-success p-mr-2"
            (click)="onSelected(specif)"></button>
    </div>
    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left" style="margin-right: 10px;">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchspec" (change)="search()" placeholder="поиск..." />
        </span>
        <div style="padding-right: 10px;">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined"
                styleClass="p-button-sm" (click)="fetchSpec()"></button>
        </div>
    </div>
</p-toolbar>

<div class="card" *ngIf="(spec$ | async) as spec; else loader">
    <p-table *ngIf="spec.count !== 0; else empty" [value]="spec.results" [scrollable]="true"
        scrollHeight="calc({{windowHeight}}px - 230px)" selectionMode="single" [(selection)]="specif"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%; text-align:center">Номер</th>
                <th style="width:10%; text-align:center">Код спецификации</th>
                <th style="width:40%; text-align:center">Наименование каз.</th>
                <th style="width:40%; text-align:center">Наименование русс.</th>
                <th style="width:5%; text-align:center">Действия</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-spec_inc let-ri="rowIndex" *ngFor="let item of spec.results| keyvalue">
            <tr class="cursor-pointer" (dblclick)="onRowClick(spec_inc)" [pSelectableRow]="spec_inc">
                <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
                <td style="text-align:center">
                    {{spec_inc.code}}
                </td>
                <td>
                    {{spec_inc.name_kaz}}
                </td>
                <td>
                    {{spec_inc.name_rus}}
                </td>
                <td style="padding: 0; margin:0;">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                            (click)="onRowEdit(spec_inc)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                            (click)="onDelete(spec_inc)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template #empty>
        <div class="center">
            Нет ни одной классификации
        </div>
    </ng-template>
    <div *ngIf="spec.count !== 0" class="flex align-items-center justify-content-center">
        <span class="mx-1 text-color">Указано</span>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="spec.count || 0"
            (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="{{first+1}} - {{(first + rows) > (spec.count || 0)  ? spec.count : first + rows }} из {{spec.count}} элементов"
            [showPageLinks]="true" [showFirstLastIcon]="true"></p-paginator>
    </div>
    <p-confirmDialog [closeOnEscape]="true" acceptLabel="Да" rejectLabel="Нет" [style]="{width: '450px'}">
    </p-confirmDialog>
</div>

<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>