.p-megamenu-panel ng-star-inserted {
    display: none;
    position: absolute;
    width: auto;
    z-index: 99;
}


.menu {
  background-color: #eff9ed;
  border-color: #e7e7e7;
}


.Usermenu{
  float: right;
}


