.user-hist {
    display: inline;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 12px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 4px;
}

.green-class {
    background-color: rgb(29, 161, 29);
}

.red-class {
    background-color: rgb(235, 18, 18);
    color: #faf8f8;
}