<form class="card">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;">
        <div style="width: 80%;" class="p-fluid">
            <div class="flex align-items-center justify-content-center gap-2">
                <button pButton pRipple label="Отправить"
                    icon="pi pi-check" class="p-button-success" (click)="send()"></button>
                <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-warning"
                    (click)="closeRef()"></button>
            </div>
        </div>
    </div>
</form>