<p-toolbar>
    <div class="p-toolbar-group-left" *ngIf="imports">
        <div class="p-field" style="padding-right: 10px;">
            <label for="number_doc">Номер</label>
            <div class="p-inputgroup">
                <input id="number_doc" name="number_doc" [readOnly]="true" type="text" pInputText
                    [(ngModel)]="imports.doc.nom" />
            </div>
        </div>

        <div class="p-field" style="padding-right: 10px;">
            <label for="date_doc">Дата</label>
            <div class="p-inputgroup">
                <input id="date_doc" name="date_doc" [readOnly]="true" type="text" pInputText
                    [(ngModel)]="imports.doc._date" />
            </div>
        </div>

        <div class="p-field" style="padding-right: 10px; min-width: 20rem;">
            <label for="org_name">Наименование организации</label>
            <div class="p-inputgroup">
                <input id="org_name" name="org_name" type="text" [readOnly]="true" pInputText
                    [(ngModel)]="imports.doc._organization.name_rus" />
                <span *ngIf="imports.doc._organization.id !== 0" class="p-inputgroup-addon cursor-pointer"
                    (click)="viewOrg()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-files" viewBox="0 0 16 16">
                        <path
                            d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="p-toolbar-group-right">
        <div>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-plain p-mr-2"
                styleClass="p-button-sm" (click)="closeform()"></button>
        </div>
    </div>
</p-toolbar>

<div class="card" *ngIf="imports; else loader">
    <div class="card">
        <p-table *ngIf="imports.results.length > 0; else empty" [value]="imports.results" [scrollable]="true"
            scrollHeight="calc(150vh - 230px)" selectionMode="single"
            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">

            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align:center">Администратор/Программа/Подпрограмма</th>
                    <th style="text-align:center">Специфика</th>
                    <th style="text-align:center">Расходы за период</th>
                    <th style="text-align:center">Расходы с начала года</th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-import let-ri="rowIndex">
                <tr class="cursor-pointer">
                    <td style="padding-left: 15px;">
                        {{import.code_fkr}}
                    </td>
                    <td style="text-align: center;">
                        {{import.code_spec}}
                    </td>
                    <td style="text-align:center">
                        {{import.sm1}}
                    </td>
                    <td style="text-align:center">
                        {{import.sm2}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="2" style="text-align:right; font-weight: 700;">Итого</td>
                    <td style="text-align:center; font-weight: 700;">{{imports.itog.sm1}}</td>
                    <td style="text-align:center; font-weight: 700;">{{imports.itog.sm2}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #empty>
            <div class="center">
                Нет ни одной записи
            </div>
        </ng-template>
        <div *ngIf="imports.count !== 0" class="flex align-items-center justify-content-center"
            style="padding-top: 10px;">
            <span class="mx-1 text-color">Указано</span>
            <p-paginator [first]="first" [rows]="rows" [totalRecords]="imports.count || 0"
                (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
                currentPageReportTemplate="{{first+1}} - {{(first + rows) > (imports.count || 0)  ? imports.count : first + rows }} из {{imports.count}} элементов"
                [showPageLinks]="true" [showFirstLastIcon]="true"></p-paginator>
        </div>
    </div>
</div>

<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>